* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', 'Teko', sans-serif;
}

#evaluation-section {
    color: white;
}

#overview {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#evaluation-status {
    height: 20%;
    width: 100%;
    display: block;
    margin-bottom: 5%;
}

#evaluation-status>h1, h2, p, form {
    text-align: center;
}

#evaluation-status>h1 {
    font-size: 3rem;
}

#evaluation-status > button {
    display: block;
    margin: 0 auto;
}

.show_movie {
    width: 15vw;
    height: 20vw;
    background: no-repeat;
    background-size: cover !important;
    margin: 1% 1%;
}

.show_movie:hover {
    background: rgba(0, 0, 0, 0.5);
}

.show_movie_check {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.show_movie_check:hover {
    background: rgba(0, 0, 0, 0.5);
}


/*card flip start===========================================*/
.square-flip {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    /*border:1px solid #efefef;*/
    position: relative;
    float: left;

}

.square-flip {
    width: 400px;
    height: 400px;
}


.square,
.square2 {
    width: 100%;
    height: 100%;
}

.square {

    background-size: cover;
    background-position: center center;

    -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    overflow: hidden;

    position: absolute;
    top: 0;


    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.square-flip .square {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    z-index: 1;
}

.square-flip:hover .square {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}


.square2 {

    background-size: cover;
    background-position: center center;

    -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    overflow: hidden;

    position: absolute;
    top: 0;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.square-flip .square2 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    z-index: 1;
}

.square-flip:hover .square2 {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

/*Square content*/

.square-container {
    padding: 40px;
    text-align: center;
    position: relative;
    top: 50%;

    -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);


    -webkit-transform: translateY(-50%) translateX(0px) scale(1);
    -ms-transform: translateY(-50%) translateX(0px) scale(1);
    transform: translateY(-50%) translateX(0px) scale(1);
    transform-style: preserve-3d;
    z-index: 2;
}

.square-flip:hover .square-container {

    -webkit-transform: translateY(-50%) translateX(-650px) scale(.88);
    -ms-transform: translateY(-50%) translateX(-650px) scale(.88);
    transform: translateY(-50%) translateX(-650px) scale(.88);
    transform-style: preserve-3d;

}

.square-container2 {
    padding: 40px;
    text-align: center;
    position: relative;
    top: 50%;

    -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);


    -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
    -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
    transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);

    transform-style: preserve-3d;
    z-index: 2;
}

.square-flip:hover .square-container2 {

    -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    transform-style: preserve-3d;
    background-size: cover !important;
}



/*Style text*/

.square-flip h2 {
    color: white;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 22px;
}

.square-flip h3 {
    color: white;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

/*Elements*/

.flip-overlay {
    display: block;
    background: rgba(121, 7, 242, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.align-center {
    margin: 0 auto;
}

.kallyas-button {
    display: block;
    width: 160px;
    padding: 18px 30px;
    font-family: "Open Sans";
    font-weight: 600;
    color: #fff;
    background: #FF2024;
    margin: 0 auto;
    border-radius: 2px;
    text-decoration: none;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa067+0,ff2959+49,ff2024+100 */
    background: #ffa067;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffa067 0%, #ff2959 49%, #ff2024 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffa067 0%, #ff2959 49%, #ff2024 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffa067 0%, #ff2959 49%, #ff2024 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa067', endColorstr='#ff2024', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}


/*ADD SHADOWS OPTIONAL*/

.square-flip .square .boxshadow,
.square-flip .square .textshadow,
.square-flip .square2 .boxshadow,
.square-flip .square2 .textshadow {
    -ms-transition: 0.60s;
    transition: 0.60s;
    -webkit-transition: 0.60s;
}

.square-flip .square .boxshadow {
    -webkit-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
}

.square-flip .square .textshadow {
    -webkit-text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
}

.square-flip:hover .square .boxshadow,
.square-flip:hover .square .textshadow {
    -webkit-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
}


.square-flip .square2 .boxshadow {
    -webkit-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
}

.square-flip .square2 .textshadow {
    -webkit-text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    -moz-text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
}

.square-flip:hover .square2 .boxshadow,
.square-flip:hover .square2 .textshadow {
    -webkit-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
}


/*You can delete this style*/

.centerflipcards {
    display: block;
    width: 100%;
    height: 440px;
    text-align: center;
    /*margin: 0 auto;*/
    margin-top: 25px;
    font-weight: bold;
}

.clearfix {
    clear: both;
}

.centerflipcards p {
    font-family: "Open Sans";
    font-size: 13px;
    margin-top: 10px;
    font-weight: 700;
}

#genre-pick-section, .centerflipcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    aling-items: center;
    width: 100% !important;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 3rem;
}

.square-inside {
    max-width: 100% !important;
    max-height: 100% !important;
}

.square-container2 {
    width: 100% !important;
    height: 100% !important;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 3rem;
    justify-content: center;
}

footer > p {
    line-height: 5vh;
    font-size: 1vw;
    text-align: center;
}

.genre-checked {
    background : url('/static/check.png/');
    background-size: cover;
    z-index: 5;
}

#genre-pick-complete {
    margin: 2% 0;
    font-size: 2rem;
    outline: none;
    background: none;
    color: white;
    padding: 1% 1%;
    border-radius: 5%;
}

#genre-pick-complete:hover {
    background: rgba(121, 7, 242, 0.75);
}

/*.genre-checked > square {*/
/*    display: none;*/
/*}*/


/* Complete Button */
.button {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

/* loader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* loader ends ===================================*/

#preloader {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: 100000;
    
    font-size: 2rem;
}

#loader-message {
    font-size: 0.5rem;
    position: inline-block;
    z-index: 500;
    top: 40;
    margin-top: 40vh;
    padding-top: 40vh;
}

#evaluation-list {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*#evaluation-list > p {*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    padding: 1% 1%;*/
/*    font-size: 0.5rem;*/
/*}*/