

<h1>{{movie}}</h1>
<img src="{{movie.imageurl}}"><br>
감독 : <a href="{% url 'movies:director' movie.director.id %}">{{movie.director}}</a><br>
{% for genre in movie.genres.all %}
{{genre}}
{% endfor %}
<br><br>

{% for score in movie.movie_scores.all %}
    {{score.user}} : {{score.score}} , {{score.content}}<br>
{% endfor %}    
    
    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{score_form}}
        <input type='submit'>
    </form>
    {% endif %}




<h3>배우 목록</h3>
{% for actor in movie.movie_actors.all %}
<a href="{% url 'actors:actor_detail' actor.id %}">{{actor}}</a>
<br>
{% endfor %}




