<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Teko" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.png' %}" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'movies/hamburger.css' %}">
    <link rel="stylesheet" href="{% static 'movies/index.css' %}">
    <link rel="stylesheet" href="{% static 'movies/movielist.css' %}">
    <link rel="stylesheet" media="(max-width:600px)" href="{% static 'movies/index-2-small.css' %}">
    <link rel="stylesheet" media="(max-width:600px)" href="{% static 'movies/movielist-2-small.css' %}">
    <title>Blockbuster</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

    <section>
        <nav class="navbar">
            <div id="nav-logo">
                <a href="{% url 'movies:movie_index' %}"><img src="{% static 'logo.png' %}" alt=""></a>
            </div>
            <div id="SearchMovie" class="search-bar-box">
                <form action="/movies/search_movie/" class="search-bar">
                    <!--<input type="search" name="search" placeholder="영화 검색!" class="animated-search-form">-->
                    <input type="search" v-model="movie_title" placeholder="영화 검색!" class="animated-search-form">
                    {{movie_title}}
                </form>
            </div>
            <div id="nav-auth">
                <!-- <button class="openbtn" onclick="openNav()">&#9776;</button>. -->
                <button id="hamburgerBtn" class="openbtn closebtn hamburger hamburger--collapse " onclick="hamburger()" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <div id="nav-collapsed-side-bar">
                <a href="#">My Page</a>
                <a href="#">For you</a>
                <a href="#">Review it</a>
                <a href="#">Q & A</a>
                <a href="#">Sign Up</a> {% if user.is_authenticated %}
                <a href="{% url 'accounts:logout' %}">Logout</a> {% endif %}
                <hr id="nav-collapsed-side-bar-hr">
                <div id="nav-collapsed-side-bar-quote">
                    <p>Remember Red, hope is a good thing. maybe the best of things, and no good thing ever dies.
                        <br><br> - Shawshank Redemption
                    </p>
                </div>
            </div>
        </nav>
        
        <!--header hero-->
        <header id="header-hero">
            <div id="header-hero-wrapper">
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <!--<div class="slideImage1" style="backgorund: url('static/good-will-hunting.jpg')"></div>-->
                        <img src="{% static 'good-will-hunting.jpg' %}" style="max-width:100%;">
                    </div>
                
                    <div class="mySlides fade">
                        <img src="{% static 'the-great-gatsby.jpg' %}" style="max-width:100%;">
                    </div>
                
                    <div class="mySlides fade">
                        <img src="{% static 'the-pursuit-of-happiness.jpg' %}" style="max-width:100%;">
                    </div>
                    
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
            </div>
        </header>
        
        <section id="movie-recommend-box">
            <!--알고리즘 기반 사용자 맞춤 추천-->
            <article id="movie-custom-recommend-box">   
                
            </article>
            <!--장르 기반 사용자 맞춤 추천-->
            <article id="movie-genres-recommend-box">
                
            </article>
            <!--일반적으로 인기있는 작품 추천-->
            <article id="movie-popular-recommend-box">
                
            </article>
            
            {% for movie in movies %}
                <div class="movie-recommend-list">
                    <!--<a href="{% url 'movies:movie_detail' movie.id %}"><img src="{{movie.imageurl}}" alt=""></a>-->
                    <img src="{{movie.imageurl}}" alt="">
                </div>
            {% endfor %}
        </section>
        
    </section>


    <script>
    
    // Side bar ===============================================================
        let sideBarStatus = false
        function openNav() {
            document.getElementById("nav-collapsed-side-bar").style.width = "400px";
            document.getElementById("nav-auth").style.marginLeft = "250px";
        }

        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("nav-collapsed-side-bar").style.width = "0";
            document.getElementById("nav-auth").style.marginLeft = "0";
        }
            
        // hamburger trigger
        function hamburger() {
            const hamburgerClassList = document.querySelector("#hamburgerBtn")
            const navSideBar = document.querySelector('#nav-collapsed-side-bar')
            if (hamburgerClassList.classList.contains("is-active")) {
                hamburgerClassList.classList.remove("is-active")
                document.getElementById("nav-collapsed-side-bar").style.width = "0";
                document.getElementById("nav-auth").style.marginLeft = "0";
                document.getElementById("nav-auth").style.zIndex = '100';
                navSideBar.style.zIndex = '1';
            } else {
                hamburgerClassList.classList.add("is-active")
                document.getElementById("nav-collapsed-side-bar").style.width = "400px";
                document.getElementById("nav-auth").style.marginLeft = "250px";
                document.getElementById("nav-auth").style.zIndex = '100';
                navSideBar.style.zIndex = '1';
            }
        }
    // Side bar END ===============================================================
    
    
    // Nav bar ===============================================================
        window.addEventListener('scroll', function() {
            let navbar = document.querySelector('.navbar')
            let hamburgerBtn = document.querySelector('#nav-auth')
            if (document.documentElement.scrollTop > 30){

                navbar.classList.add('sticky-top')
                hamburgerBtn.classList.add('sticky-top-hamburger')
                
            } else {

                navbar.classList.remove('sticky-top')
                hamburgerBtn.classList.remove('sticky-top-hamburger')
            }
        })
    // Nav bar END ===============================================================

    
    // Carousel ===============================================================
        var slideIndex = 1;
        showSlides(slideIndex);
        
        // Next/previous controls
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        // Thumbnail image controls
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1} 
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none"; 
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          slides[slideIndex-1].style.height = "70vh";
          dots[slideIndex-1].className += " active";
        }
    // Carousel END ===============================================================
        
        
    // 영화 검색을 실시간으로 보기 위한 vue 생성중 
        
        
        const app = new Vue ({
            el : '#SearchMovie'
            data : {
                movie_title : '',
            },
            
            method : {
                find : function() {
                    if (this.movie_title) {
                        axios.get(`http://tmp-movie-recommend-rlatmf2147.c9users.io:8080/movies/search_movie2/${movie_title}/`)
                        .then(response => { 
                            
                        })
                    }
                },
            },
            watch  {
                movie_title : function() {
                    this.find()
                }
            },
        })
    
    </script>
</body>

</html>
