

<h1>{{movie}}</h1>
<img src="{{movie.imageurl}}"><br>
감독 : <a href="{% url 'movies:director' movie.director.id %}">{{movie.director}}</a><br>
{% for genre in movie.genres.all %}
{{genre}}
{% endfor %}
<br><br>


<h2>댓글목록</h2>
{% for score in movie.movie_scores.all %}
    작성자 : {{score.user}} , score : {{score.score}} , 내용 : {{score.content}}
    {% if user == score.user or user.is_superuser %}
    <a href="{% url 'movies:delete_score' movie.id score.id %}">댓글 삭제하기</a>
    {% endif %}
    
    <br>
{% endfor %}    
    
    {% if user.is_authenticated %}
    <h2>댓글달기</h2>
    <form method="POST">
        {% csrf_token %}
        score : <input type="number" min="1" max="10" name="score" value=0>
        {{score_form}}
        <input type='submit'>
    </form>
    {% endif %}




<h3>배우 목록</h3>
{% for actor in movie.movie_actors.all %}
<a href="{% url 'actors:actor_detail' actor.id %}">{{actor}}</a>
<br>
{% endfor %}




