{% extends 'base.html' %}
{% block body %}
{% load static %}
    <hr>
    <h1>{{actor.name}}</h1>
    <img src="{{actor.imageurl}}" alt="" width="480px" height="480px"><br>
    
    {% if user.pk %}
    <a href="#">좋은 배우 추가</a>
    {% endif %}
    
    <br>{% if actor.instagram %}
        <a href="{{actor.instagram}}"><img src="{% static 'actors/instagram_icon.png' %}" width="22px" height="22px"></a><br>
    {% endif %}
    {% if actor.twitter %}
        <a href="{{actor.twitter}}"><img src="{% static 'actors/twitter_icon.png' %}" width="22px" height="22px"></a><br>
    {% endif %}
    {% if actor.facebook %}
        <a href="{{actor.facebook}}"><img src="{% static 'actors/facebook_icon.png' %}" width="22px" height="22px"></a><br>
    {% endif %}
    
    <p>생일 : {{actor.birthday}}</p>
    
    <hr>
    <h3>츨현 영화</h3>
    <ul>
    {% for movie in actor.movies.all %}
        <li>
            <img src="{{movie.imageurl}}" width="480px" height="480px"><br>
            <a href="{% url 'movies:movie_detail' movie.pk  %}">{{movie.title}}</a>
        </li>
    {% endfor %}
    </ul>
    
    <hr>
    <h3>수상 목록</h3>
    <ul>
    {% for prize in actor.actor_prize.all %}
        <li>
            <h5>{{prize.name}}</h5>
            <p>date : {{prize.name}}</p>
            {% for prize_movie in prize.movies.all %}
                {% if prize_movie in actor.movies.all %}
                    <p><a href="{% url 'movies:movie_detail' prize_movie.pk  %}">{{prize_movie.title}}</a></p>
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}